<%#
    Page for json object (returned by the cognitive services) analysis
    Used to explore the returned packets, but also to help the system
    in the fase of face recognition (matching faces in a batch)
%>

<style>
    .renderjson a { text-decoration: none; }
    .renderjson .disclosure { color: crimson;
        font-size: 150%; }
    .renderjson .syntax { color: grey; }
    .renderjson .string { color: darkred; }
    .renderjson .number { color: darkcyan; }
    .renderjson .boolean { color: blueviolet; }
    .renderjson .key    { color: darkblue; }
    .renderjson .keyword { color: blue; }
    .renderjson .object.syntax { color: lightseagreen; }
    .renderjson .array.syntax  { color: orange; }

    .faceBoundingBox {
        position:absolute;
        background-color:transparent
    }


</style>

<script src="/js/renderjson.js"></script>
<script>
    let vettImgNames = [];

    function fixHeights(imgName){
        if(vettImgNames.findIndex(function(el){return el == imgName}) == -1)
            vettImgNames.push(imgName);

        //show the img_face_box (face id & user_data stored for that image) with this box having the same height of the image
        document.getElementById('img_ann_box_'+imgName).style.display = 'inline';
        document.getElementById('img_ann_box_'+imgName).style.height = document.getElementById('img_'+imgName).height + 'px';
    }

    window.onresize = function (){
        for (let imgName of vettImgNames) {
            fixHeights(imgName);
        }
    };
</script>

<%  for(imgAnnotated of imgAnnotations){%>
    <div class="mt-4 mb-4">

        <!--IMG BOX-->
        <div class="row">

            <div id="img_box_<%= imgAnnotated.imgName%>" class="col-6">
                <img onload="fixHeights('<%= imgAnnotated.imgName%>')" id="img_<%= imgAnnotated.imgName%>" class="w-100 h-auto ml-auto mr-auto" src="<%= imgAnnotated.imgUrl%>">
                <div class="faceBoundingBox" id="face_box_<%= imgAnnotated.imgName%>"></div>
            </div>


            <div id="img_ann_box_<%= imgAnnotated.imgName%>" class="col-6 alert-info" style="display:none;overflow: scroll">
                <%# The following script will put a box for every azure face detected, if the user wants to relate some
                user data (possibly a name+surname) she/he'll perform it bu clicking Recognize  %>
                <%  if(user != null){
                        for(face of imgAnnotated.cogniAPI.faces){
                %>
                    <div class="row alert-warning p-3 mt-2 mb-3 mr-5 ml-5"
                         onmouseover="boundFace(
                                 'face_box_<%= imgAnnotated.imgName%>', 1, '<%= imgAnnotated.cogniAPI.metadata.width%>', '<%= imgAnnotated.cogniAPI.metadata.height%>',
                                 '<%=face.faceRectangle.tl.y%>', '<%=face.faceRectangle.tl.x%>',
                                 '<%=face.faceRectangle.width%>', '<%=face.faceRectangle.height%>',
                                 )"
                         onmouseleave="eraseFaceBound('face_box_<%= imgAnnotated.imgName%>')"
                    >
                        <p class="mt-4">
                            <h5>FACE_ID "<%=face.faceId%>"</h5>

                            <% if(face.similarFaces != undefined) { %>

                                <% for(similarFace of face.similarFaces){ %>

                                    <br />
                                    <span class="font-italic mt-1">
                                        It has been recognized as <span class="font-weight-bold"> <%=similarFace['userData']%> </span> (persisted_id: "<%=similarFace['persistedFaceId']%>") with a <span class="text-success font-weight-bold">confidence</span> value
                                        of <span class="text-success font-weight-bold"><%= similarFace['confidence']%></span>
                                    </span>

                                    In future image submissions recognize <%= similarFace['persistedFaceId']%> as ... <br />
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Name" id="name_<%= similarFace['persistedFaceId']%>">
                                        <button onclick="patchFaceGroup('<%= similarFace['persistedFaceId']%>',
                                                document.getElementById('name_<%= similarFace['persistedFaceId']%>').value,
                                                '<%= user%>')">
                                            Update
                                        </button>
                                    </div>

                                <% } %>

                            <% } %>
                        </p>

                        <% if(face.similarFaces != undefined) { %>

                            <% if(imgAnnotated.annotationDate != null && ((new Date() - new Date(imgAnnotated.annotationDate))/(1000*60*60*24)) < 1){%>
                                <p class="text-danger mt-2">
                                    Did I recognize it wrong?
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Name" id="name_<%= face.faceId%>">
                                    <input type="hidden" id="target_<%= face.faceId%>"
                                           value="<%= face.faceRectangle.tl.x%>,<%= face.faceRectangle.tl.y%>,<%= face.faceRectangle.width%>,<%= face.faceRectangle.height%>">
                                    <button onclick="addToFaceGroup('<%= imgAnnotated.imgUrl%>',
                                            document.getElementById('target_<%= face.faceId%>').value,
                                            document.getElementById('name_<%= face.faceId%>').value,
                                            '<%= user%>')">
                                        Recognize
                                    </button>
                                </div>
                                </p>

                            <% }%>

                        <% }else if(imgAnnotated.annotationDate != null && ((new Date() - new Date(imgAnnotated.annotationDate))/(1000*60*60*24)) < 1){ %>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Name" id="name_<%= face.faceId%>">
                                <input type="hidden" id="target_<%= face.faceId%>"
                                       value="<%= face.faceRectangle.tl.x%>,<%= face.faceRectangle.tl.y%>,<%= face.faceRectangle.width%>,<%= face.faceRectangle.height%>">
                                <button onclick="addToFaceGroup('<%= imgAnnotated.imgUrl%>',
                                        document.getElementById('target_<%= face.faceId%>').value,
                                        document.getElementById('name_<%= face.faceId%>').value,
                                        '<%= user%>')">
                                    Recognize
                                </button>
                            </div>

                        <% } %>

                    </div>
                <%
                    }
                }
                %>
            </div>
        </div>

        <!--Azure Computer Vision & Google Cloud Vision Results BOX-->
        <div class="row mr-5 ml-5 mt-2">

            <!--Box Azure Computer Vision & Azure Face-->
            <div class="col-6 alert-primary">
                <h5 class="text-center">Azure Computer Vision</h5>
                <div id="AVdest<%= imgAnnotated.imgUrl%>"></div>

                <h5 class="text-center">Azure Face</h5>
                <div id="AFdest<%= imgAnnotated.imgUrl%>"></div>
            </div>

            <!--Box Google Cloud Vision-->
            <div class="col-6 alert-warning">
                <h5 class="text-center">Google Cloud Vision</h5>
                <div id="Gdest<%= imgAnnotated.imgUrl%>"></div>
            </div>

        </div>

        <!--CogniApi (Combined Schema) Results BOX-->
        <div class="row mr-5 ml-5 mt-1">
            <div class="col alert-success">
                <h5 class="text-center">CogniAPI</h5>
                <div id="Cdest<%= imgAnnotated.imgUrl%>"></div>
            </div>
        </div>

    </div>

    <div class="hr mb-5"></div>

    <script>
        document.getElementById("AVdest<%= imgAnnotated.imgUrl%>").appendChild(
            renderjson//.set_show_by_default(true)
            //.set_show_to_level(2)
            //.set_sort_objects(true)
            //.set_icons('+', '-')
                .set_max_string_length(100)
                (
                        <%- JSON.stringify(imgAnnotated.azureV)%>
                ));
        document.getElementById("AFdest<%= imgAnnotated.imgUrl%>").appendChild(
            renderjson//.set_show_by_default(true)
            //.set_show_to_level(2)
            //.set_sort_objects(true)
            //.set_icons('+', '-')
                .set_max_string_length(100)
                (
                        <%- JSON.stringify(imgAnnotated.azureF)%>
                ));
        document.getElementById("Gdest<%= imgAnnotated.imgUrl%>").appendChild(
            renderjson//.set_show_by_default(true)
            //.set_show_to_level(2)
            //.set_sort_objects(true)
            //.set_icons('+', '-')
                .set_max_string_length(100)
                (
                        <%- JSON.stringify(imgAnnotated.gCloud)%>
                ));
        document.getElementById("Cdest<%= imgAnnotated.imgUrl%>").appendChild(
            renderjson//.set_show_by_default(true)
            //.set_show_to_level(2)
            //.set_sort_objects(true)
            //.set_icons('+', '-')
                .set_max_string_length(100)
                (
                        <%- JSON.stringify(imgAnnotated.cogniAPI)%>
                ));
    </script>
<%  }%>

<%# The following script will put a button in order to give a visual interface which allows to train the system  %>

<%  if(user != null){ %>
    <div class="alert alert-info ml-5 mr-5 text-center mb-5" role="alert">
        <h4 class="alert-heading">Train the system!</h4>
        <p>
            If you successfully help me to recognize some people, I suggest you to push the button below in order to make me train, so
            I can recognize your relatives, friends, colleagues and acquaintances better next time
        </p>
        <hr>
        <div class="text-center ml-auto mr-auto">
            <button type="button" class="btn btn-outline-primary text-center" onclick="train('<%= user%>')">TRAIN</button>
        </div>
    </div>
<%  } %>
