<%#
    Page for json object (returned by the cognitive services) analysis
    Used to explore the returned packets, but also to help the system
    in the fase of face recognition (matching faces in a batch)
%>

<style>
    .renderjson a { text-decoration: none; }
    .renderjson .disclosure { color: crimson;
        font-size: 150%; }
    .renderjson .syntax { color: grey; }
    .renderjson .string { color: darkred; }
    .renderjson .number { color: darkcyan; }
    .renderjson .boolean { color: blueviolet; }
    .renderjson .key    { color: darkblue; }
    .renderjson .keyword { color: blue; }
    .renderjson .object.syntax { color: lightseagreen; }
    .renderjson .array.syntax  { color: orange; }

    .faceBoundingBox {
        position:absolute;
        background-color:transparent
    }


</style>

<script src="/js/renderjson.js"></script>

<script>
    let vettImgNames = [];

    function fixHeights(imgName){
        if(vettImgNames.findIndex(function(el){return el == imgName}) == -1)
            vettImgNames.push(imgName);

        //show the img_face_box (face id & user_data stored for that image) with this box having the same height of the image
        document.getElementById('img_ann_box_'+imgName).style.display = 'inline';
        document.getElementById('img_ann_box_'+imgName).style.height = document.getElementById('img_'+imgName).height + 'px';
    }

    window.onresize = function (){
        for (let imgName of vettImgNames) {
            fixHeights(imgName);
        }
    };
</script>

<%  for(imgAnnotated of imgAnnotations){%>
    <div class="mt-4 mb-4">

        <%- include('img_widget', imgAnnotated);%>

        <!--Azure Computer Vision & Google Cloud Vision Results BOX-->
        <div class="mt-2 text-center">
            <h3 class="font-weight-bold">JSON Explorer</h3>
            <h6>returned by the different cognitive services</h6>
        </div>
        <div class="row mr-5 ml-5">

            <!--Box Azure Computer Vision & Azure Face-->
            <div class="col-6 alert-primary">
                <h5 class="text-center">Azure Computer Vision</h5>
                <div id="AVdest<%= imgAnnotated.imgUrl%>"></div>

                <h5 class="text-center">Azure Face</h5>
                <div id="AFdest<%= imgAnnotated.imgUrl%>"></div>
            </div>

            <!--Box Google Cloud Vision-->
            <div class="col-6 alert-warning">
                <h5 class="text-center">Google Cloud Vision</h5>
                <div id="Gdest<%= imgAnnotated.imgUrl%>"></div>
            </div>

        </div>

        <!--CogniApi (Combined Schema) Results BOX-->
        <div class="row mr-5 ml-5 mt-1">
            <div class="col alert-success">
                <h5 class="text-center">CogniAPI</h5>
                <div id="Cdest<%= imgAnnotated.imgUrl%>"></div>
            </div>
        </div>

    </div>

    <div class="hr mb-5"></div>

    <script>
        document.getElementById("AVdest<%= imgAnnotated.imgUrl%>").appendChild(
            renderjson//.set_show_by_default(true)
            //.set_show_to_level(2)
            //.set_sort_objects(true)
            //.set_icons('+', '-')
                .set_max_string_length(100)
                (
                        <%- JSON.stringify(imgAnnotated.azureV)%>
                ));
        document.getElementById("AFdest<%= imgAnnotated.imgUrl%>").appendChild(
            renderjson//.set_show_by_default(true)
            //.set_show_to_level(2)
            //.set_sort_objects(true)
            //.set_icons('+', '-')
                .set_max_string_length(100)
                (
                        <%- JSON.stringify(imgAnnotated.azureF)%>
                ));
        document.getElementById("Gdest<%= imgAnnotated.imgUrl%>").appendChild(
            renderjson//.set_show_by_default(true)
            //.set_show_to_level(2)
            //.set_sort_objects(true)
            //.set_icons('+', '-')
                .set_max_string_length(100)
                (
                        <%- JSON.stringify(imgAnnotated.gCloud)%>
                ));
        document.getElementById("Cdest<%= imgAnnotated.imgUrl%>").appendChild(
            renderjson//.set_show_by_default(true)
            //.set_show_to_level(2)
            //.set_sort_objects(true)
            //.set_icons('+', '-')
                .set_max_string_length(100)
                (
                        <%- JSON.stringify(imgAnnotated.cogniAPI)%>
                ));
    </script>
<%  }%>

<%# The following script will put a button in order to give a visual interface which allows to train the system  %>

<%  if(user != null){ %>
    <div class="alert alert-info ml-5 mr-5 text-center mb-5" role="alert">
        <h4 class="alert-heading">Train the system!</h4>
        <p>
            If you successfully help me to recognize some people, I suggest you to push the button below in order to make me train, so
            I can recognize your relatives, friends, colleagues and acquaintances better next time
        </p>
        <hr>
        <div class="text-center ml-auto mr-auto">
            <button type="button" class="btn btn-outline-primary text-center" onclick="train('<%= user%>')">TRAIN</button>
        </div>
    </div>
<%  } %>
