<!DOCTYPE html>
<html>

<%- include('header'); %>

<body>

    <nav class="navbar navbar-light bg-dark">
        <a id="homeLink" class="navbar-brand font-weight-bold text-light" href="#">
            <img src="/img/logo_white.png" width="30" height="30" class="d-inline-block align-top" alt="">
            CogniAPI
        </a>
        <script>
            if(window.location.hostname == 'cogni-api.herokuapp.com')
                document.getElementById('homeLink').href = 'https://cogni-api.herokuapp.com';
            else
                document.getElementById('homeLink').href = 'http://' + window.location.hostname + ':' + window.location.port;
        </script>

        <a id="homeLink" class="navbar-brand font-weight-bold align-content-end text-light" href="#">
            <%= user%>
        </a>
    </nav>

    <div class="container-fluid">

        <!-- HEAD TITLE -->
        <div class="row mt-3 mb-3">
            <div class="col-2">
            </div>
            <div id="frontTitle" class="col-8 text-center text-info">
                <p>
                    CogniAPI widget
                </p>

            </div>
            <div class="col-2">
            </div>
        </div>
        <!-- END OF HEAD TITLE -->

        <%# If imgAnnotations equals to asyncUp202, images async analysis has been started correctly %>
        <% if(imgAnnotations == 'asyncUp202'){%>
            <div class="alert alert-success" role="alert">
                Great! The batch analysis has been started correctly... It takes time, go grab a coffee and when you
                come back you'll see the cached result through the manage images feature below
            </div>
        <%      imgAnnotations = null;
            }
        %>

        <%# If imgAnnotations equals to null, no images to load,
            so the user will have the box in order to upload a new batch...
            Otherwhise show the results %>
        <% if(imgAnnotations == null && gui_type == 'authBox'){ %>
            <%- include('auth_box'); %>
        <% }else if(imgAnnotations == null && gui_type == 'upBox'){ %>
            <%- include('upload_box'); %>
        <% }else if(imgAnnotations != null && gui_type == 'mngPage'){ %>
            <%- include('manage_images'); %>
        <% }else if(imgAnnotations != null && gui_type == 'imgAnn'){ %>
            <%- include('img_annotated', imgAnnotations); %>
        <% }%>

    </div>

    <footer class="footer bg-dark text-white text-center">
        <div class="container-fluid mt-2">© 2019 Copyright: Dal Moro Devis</div>
    </footer>

    <%- include('generic_js'); %>
</body>
</html>
