<!DOCTYPE html>
<html>

<%- include('header'); %>

<body>

    <nav class="navbar navbar-light bg-light">
        <a id="homeLink" class="navbar-brand font-weight-bold" href="#">
            <img src="img/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
            CogniAPI
        </a>
        <script>
            if(window.location.hostname == 'cogni-api.herokuapp.com')
                document.getElementById('homeLink').href = 'https://cogni-api.herokuapp.com';
            else
                document.getElementById('homeLink').href = 'http://' + window.location.hostname + ':' + window.location.port;
        </script>
    </nav>

    <div class="container-fluid">

        <!-- HEAD TITLE -->
        <div class="row mt-3 mb-3">
            <div class="col-2">
            </div>
            <div class="col-8 text-center">
                <h1>CogniAPI widget</h1>
            </div>
            <div class="col-2">
            </div>
        </div>
        <!-- END OF HEAD TITLE -->

        <%# If imgAnnotations equals to null, no images to load,
            so the user will have the box in order to upload a new batch...
            Otherwhise show the results %>
        <% if(imgAnnotations == null && gui_type == 0){ %>
            <%- include('auth_box'); %>
        <% }else if(imgAnnotations == null && gui_type == 1){ %>
            <%- include('upload_box'); %>
        <% }else if(imgAnnotations != null && gui_type == 2){ %>
            <%- include('manage_images'); %>
        <% }else if(imgAnnotations != null){ %>
            <%- include('img_annotated', imgAnnotations); %>
        <% }%>

    </div>

    <%- include('generic_js'); %>

</body>
</html>
