<h3 class="text-center">Safety Annotations</h3>



<% safety = imgAnnotated.cogniAPI.safetyAnnotations;%>

<%  function convertConfidenceLikelihood(likelihood){
        if(likelihood == 'UNKNOWN')
            return -1;
        else if(likelihood == 'VERY_UNLIKELY')
            return 0;
        else if(likelihood == 'UNLIKELY')
            return 1;
        else if(likelihood == 'POSSIBLE')
            return 2;
        else if(likelihood == 'LIKELY')
            return 3;
        else if(likelihood == 'VERY_LIKELY')
            return 4;
    }

 %>

<div class="mt-3">
    <% if(safety.adult != undefined) { %>
        <h5 class="text-danger font-italic">Adult Content</h5>

        <p class="mt-1">
            Likelihood:
            <span class="ml-1">
                <% i= 0%>
                <% while(i<convertConfidenceLikelihood(safety.adult)){%>
                    <span class="bg-warning squareLikelihood text-warning"> __  </span>
                    <% i++;%>
                <% }%>

                <% while(i<4){%>
                    <span class="bg-light squareLikelihood text-light"> __  </span>
                    <% i++;%>
                <% }%>
            </span>
            <span class="ml-2"> <%= safety.adult%> </span>
        </p>

    <% }%>
</div>
<hr />

<div class="mt-3">
    <% if(safety.racy != undefined) { %>
        <h5 class="text-danger font-italic">Racy Content</h5>
        <p class="mt-1">
            Likelihood:
            <span class="ml-1">
                <% i= 0%>
                <% while(i<convertConfidenceLikelihood(safety.racy)){%>
                    <span class="bg-warning squareLikelihood text-warning"> __  </span>
                    <% i++;%>
                <% }%>

                <% while(i<4){%>
                    <span class="bg-light squareLikelihood text-light"> __  </span>
                    <% i++;%>
                <% }%>
            </span>
            <span class="ml-2"> <%= safety.racy%> </span>
        </p>
    <% }%>
</div>
<hr />

<div class="mt-3">
    <% if(safety.violence != undefined) { %>
        <h5 class="text-danger font-italic">Violence Content</h5>
        <p class="mt-1">
            Likelihood:
            <span class="ml-1">
                <% i= 0%>
                <% while(i<convertConfidenceLikelihood(safety.violence)){%>
                    <span class="bg-warning squareLikelihood text-warning"> __ </span>
                    <% i++;%>
                <% }%>

                <% while(i<4){%>
                    <span class="bg-light squareLikelihood text-light"> __  </span>
                    <% i++;%>
                <% }%>
            </span>
            <span class="ml-2"> <%= safety.violence%> </span>
        </p>
    <% }%>
</div>
<hr />


<div class="mt-3">
    <% if(safety.spoof != undefined) { %>
        <h5 class="text-danger font-italic">Spoof Content</h5>
        <p class="mt-1">
            Likelihood:
            <span class="ml-1">
                <% i= 0%>
                <% while(i<convertConfidenceLikelihood(safety.spoof)){%>
                    <span class="bg-warning squareLikelihood text-warning"> __  </span>
                    <% i++;%>
                <% }%>

                <% while(i<4){%>
                    <span class="bg-light squareLikelihood text-light"> __  </span>
                    <% i++;%>
                <% }%>
            </span>
            <span class="ml-2"> <%= safety.spoof%> </span>
        </p>
    <% }%>
</div>
<hr />

<div class="mt-3">
    <% if(safety.medical != undefined) { %>
        <h5 class="text-danger font-italic">Medical Content</h5>
        <p class="mt-1">
            Likelihood:
            <span class="ml-1">
                <% i= 0%>
                <% while(i<convertConfidenceLikelihood(safety.medical)){%>
                    <span class="bg-warning squareLikelihood text-warning"> __ </span>
                    <% i++;%>
                <% }%>

                <% while(i<4){%>
                    <span class="bg-light squareLikelihood text-light"> __  </span>
                    <% i++;%>
                <% }%>
            </span>
            <span class="ml-2"> <%= safety.medical%> </span>
        </p>
    <% }%>
</div>
<hr />