<h3 class="text-center">Text</h3>

<% for(txt of imgAnnotated.cogniAPI.texts){ %>
    <div    class="mt-3 mb-3"
            onmouseover="boundFace(
                    'face_box_<%= imgAnnotated.imgName%>', 1, '<%= imgAnnotated.cogniAPI.metadata.width%>', '<%= imgAnnotated.cogniAPI.metadata.height%>',
                    '<%=txt.boundingBox.tl.y%>', '<%=txt.boundingBox.tl.x%>',
                    '<%=txt.boundingBox.width%>', '<%=txt.boundingBox.height%>',
                    )"
            onmouseleave="eraseFaceBound('face_box_<%= imgAnnotated.imgName%>')">
        <%=txt.name%>
        <div class="progress">
            <div class="progress-bar bg-info" role="progressbar" style="width: <%= Math.floor(txt.confidence*100)%>%>%;"
                 aria-valuenow="<%= Math.floor(txt.confidence*100)%>" aria-valuemin="0" aria-valuemax="100">
                <%= Math.floor(txt.confidence*100)%>%
            </div>
        </div>
    </div>
<% }%>